/*Generics*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: RGB(210,228,219);
}

/*Uilities*/

.bg-blue {
    background-color: #2ba9cf;
}

.bg-purp {
    background-color: #b955d8;;
}

.bg-green {
    background-color: #41bd79;;
}

.bg-orange {
    background-color: #fa8947;;
}

.bg-light-purp {
    background-color: #dd2c67;;
}

.bg-lime {
    background-color: #90d315;;
}


/*Main*/

header {
    padding: 15px 20px;
    height:100px;
    background-color: white;;
}


#boolean-logo {
    vertical-align: middle;color:#09708f;
    height: 60px;
}


header > h1 {
   vertical-align: middle;
   display: inline;
   font-size: 40px;
   font-weight: 800;
}

ul {
    list-style: none;
}

h3 {
    margin-bottom: 20px;
}

/*Main*/

.card {
 width: 50%;
 background-color: white;
 margin: 30px auto;
 border-radius: 5px;
}

.card-head {
    padding: 10px 30px;
    border-bottom: 2px solid RGB(210,228,219);
}

.card-body {
    padding: 40px 30px;
}



/*Button*/

.btn {
 font-size: 14px ;
 padding: 5px 10px;
 border-radius: 5px ;
 border: 1px solid transparent;
 text-decoration: none;
}

.btn.btn-primary { 
 color: white;
 background-color: dodgerblue;
}


.btn.btn-secondary {
 background: white;
 color: grey;
 border-color: grey;
}

/*Task*/
.task-item {
 height: 40px;
}

.task-status {
 border-radius: 50%;
 width: 15px;
 height: 15px;
 display: inline-block;
 font-size: 10px;
 vertical-align: middle;
 text-align: center;
 line-height: 15px;
 border: 1px solid currentColor;
}

.task-text {
    vertical-align: middle;
}

.task-status.task-red {
    color: red;
}

.task-status.task-green {
    color: green;
}

.back-badge {
    color: white;
    font-size: 12px;
    vertical-align: middle;
    padding: 5px 10px;
    border-radius: 10px;
}